.about{
    background-color: rgb(255, 255, 255);
    height:600px;
    
}
.about-intro{
    display:flex;
    margin:50px ;
    border:2px solid red;
    background-color: aquamarine;
    height:500px;
   padding-top:40px;
   justify-content: space-between;
    overflow: hidden;
}
.about-intro-video{
    object-fit: contain;
    height:300px;
    width:400px;
}
