.about{
    background-color: grey;
    height:600px;
}
.about-intro{
    display:flex;
    margin:50px ;
    border:2px solid red;
    height:500px;
   padding-top:40px;
    overflow: hidden;
}
.about-intro-video{
    height:400px;
    width:500px;
}
